{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @package block_createuser
    @copyright 16-09-20 Mfreak.nl | LdesignMedia.nl - Luuk Verhoeven
    @author    Wishal Fakira
}}
<div>
    <table class="table">
        <tr>
            <th>{{# str}} heading:table_firstname, block_createuser {{/ str}}</th>
            <th>{{# str}} heading:table_lastname, block_createuser {{/ str}}</th>
            <th>{{# str}} heading:table_email, block_createuser {{/ str}}</th>
            <th>{{# str}} heading:table_action, block_createuser {{/ str}}</th>
        </tr>
        {{#users}}
            <tr>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{email}}</td>
                <td>
                    <a class="btn btn-danger" href="{{actionurl}}">
                        {{# str}} btn:delete, block_createuser {{/str}}
                    </a>
                </td>
            </tr>
        {{/users}}
    </table>
</div>